@use "@/styles/mixin" as m;

.swiper {
  padding-bottom: 1.5rem !important;

  &-pagination {
    bottom: 0 !important;
  }
}

.weather-hourly-nav {
  @include m.bluredBackground();
  height: unset;
  padding: 0.4rem;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  position: absolute;
  z-index: 9999;
  top: 40%;

  &:hover {
    background: #fff6;
  }

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }

  svg {
    width: unset;
    height: unset;
  }
}

@media screen and (max-width: 480px) {
  .swiper {
    padding-bottom: 0 !important;

    &-pagination {
      display: none !important;
    }
  }
}
