@use "../../styles/constants" as c;
@use "../../styles/mixin" as m;

.menu-button {
  @include m.bluredBackground();
  padding: 0.4rem;
  border-radius: 8px;
  outline: unset;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #fff3;
  }

  &_content {
    @include m.bluredBackground();
    padding: 0;
    border: none;

    &-item {
      color: c.$font-color;
      padding: 0.6rem 0.8rem;
      border-radius: 0;
      cursor: pointer;

      &:hover {
        background-color: #fff3;
      }
    }
  }
}
