@use "./mixin" as m;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

body {
  background: linear-gradient(to bottom right, #60a5fa, #1d4ed8) no-repeat;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

button {
  cursor: pointer !important;
}

#root {
  max-width: 1000px;
  margin: 0 auto;
}

.current-weather {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  color: #fff;
  padding: 0 1.2rem;
  margin-top: 1rem;
  position: relative;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;

  &_item {
    @include m.bluredBackground(#fff3);
    backdrop-filter: blur(4px);
    width: 100%;
    padding: 0.65rem;
    border-radius: 16px;
    color: #fff;
    transition: all 0.2s ease-in-out;

    &:hover {
      scale: 1.015;
    }
  }
}
