@use "@/styles/mixin" as m;

.city-weather-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  margin-top: 1rem;
  color: #fff;

  .city-weather-loading {
    @include m.bluredBackground(#fff3);
    @include m.smallContentWrapper;
    flex: 1;
  }

  a {
    flex: 1;
  }
}
