@use "@/styles/mixin" as m;

.forecast {
  min-height: 330px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #fff;
  padding: 1.2rem;
  margin-top: 1rem;

  h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4rem;
  }

  &-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  &-item {
    @include m.smallContentWrapper;
    background: #fff3;
    flex: 1;
  }

  .weather-details {
    flex: 1 1;
  }
}

@media screen and (max-width: 480px) {
  .forecast {
    &-content {
      flex-wrap: wrap;
    }

    &-item {
      flex-basis: 100%;
    }

    .weather-details {
      min-height: 256px;
      flex-basis: 100%;
    }
  }
}
