.forecast {
  min-height: 330px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #fff;
  padding: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;

  h2 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.4rem;
  }

  &-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  a {
    flex: 1 1;

    .weather-details-item {
      background: #ffffff1a;
      backdrop-filter: blur(4px);
    }
  }
}
